# Data Types and Structures

Q1 What are data structures, and why are they important?

-  Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.

Q2  Explain the difference between mutable and immutable data types with examples?

- Mutable data types .
can be changed after they are created. Example inculed list,dictionaries,and sets.for instance, you can add or remove elements from a list after it's been defined.
- Immutable data types. cannot be changed after they are created.Example
include numbers (integers, floats),strings,and tuples. If you "modify" an immutable object, you are actually creating a new object. for Example, changing a character in string result in a new string .

Q3 What are the main differences between lists and tuples in Python ?

- Mutablility: List are mutable (changeable), while tuple are immutable (unchangeable).
- Syntax : List are defined using square brackets [], while tuples are defind using parentheses().

Q4  Describe how dictionaries store data.

- dictionaries store data as key-value pairs. Each key must be unique and immutable(e.g., strings, numbers,tuples), and it maps to a corresponding value , which can be any data type. Dictionaries use hash tables internally for efficient data retrieval based on keys.

Q5  Why might you use a set intstead of list in python?

- you might use a set instead of a list when .
- you need to store a collection of unique items, as sets automatically handle duplicate removal.
- you need to perform fast membership testing ( checking if an item exists in the collection).
- you need to perform mathematical set operations like union, intersection, and difference.

Q5  Why might you use a set intstead of list in python?

- you might use a set instead of a list when .
- you need to store a collection of unique items, as sets automatically handle duplicate removal.
- you need to perform fast membership testing ( checking if an item exists in the collection).
- you need to perform mathematical set operations like union, intersection, and difference.

Q6 What is a string in Python, and how is it different from a list?
- A string in python is a sequence of characters, used to represent text. it is an immutable data type .
- Differences from list
 - Mutability

 strings are immutable, while lists are mutable.
  - Elements
  
   strings contain characters, while lists can contain elements of any data type.
    
  - Purpose

  string are for text , lists for ordered collection of various data.

Q 7   How do tuples ensure data integrity in Python?

- Tuples ensure data integrity because they are immutable. once a tuple is created, its elements cannot be changed,added, or removed . This prevents accidental modification of the data , making them suitable for storing fixed collections of related items where consistency is critical.

Q8 What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is data structure that implements an associative arry, mapping keys to values. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found .
Dictionaries in python are implementd using hash tables, allowing for efficient average-case time complexity for operations like insertion, delection , and lookup .

Q 9 Can lists contain different data types in Python?

- Yes , lists in python can contain elements of different data types . For example , a single list can contain integers , strings , floats and even other lists or dictionaries.

Q 10  Explain why strings are immutable in Python.

- Strings are immutable in python because this design choice offers several benefits .

Performance

  - immutablility allow for certain optimizations, as the interpreter knows the string's content won"t change.
   
  Thread safety
     
  - Immutable objects are inherently thread safe, as multiple thereads can access them without worrying about data corruption .

  Hashability

  - Immutable objects can be used as dictionary keys because their hash value remains constant.

Q 11  What advantages do dictionaries offer over lists for certain tasks?

- you need to access data  by a meaningful key rather than by an integer index .
- you need fast lookups, insertions, and deletions based on keys.
- you need to represent relationships between data using key-value pairs.

Q 12 Describe a scenario where using a tuple would be preferable over a list.

- A scenario where a tuple would be preferable is when representing a fixed collection  of related data that should not be changed, such as geographical coordinates (latitude, longitude ), a data (year , month , day ), or record in database where the fields are fixed. for example,

In [ ]:
coordinates=(34.0522,-118.2437)

Q 13  How do sets handle duplicate values in Python?
- Sets  automatically handle duplicatie valuse by storing only unique elements . if you try to add a duplicate element to a set , it will simply be ignored,and the set will remain unchanged .

Q 14   How does the “in” keyword work differently for lists and dictionaries?

- Lists

 The "in" keyword checks for the presence of a value within the list's elements .
- Dictionaries

 The "in" keyword check for the presence of a key within the dictionary's key. To check for value,  you would need to iterate through the dictionary's values or use valu in dictionary. values().

Q 15  Can you modify the elements of a tuple? Explain why or why not.
-  No , you cannot modify the elements of a tuple because tuples are immutable data types. once a tuple is created, its contents are fixed . any operation that appers to "modify' a tuple actually creates a new tuple with the desired changes .

Q16 What is a nested dictionary, and give an example of its use case ?
 - a nested dictionary is a dictionary where the values are themselves other dictionaries.
 example use case  representing hierarchical data like a database of users, where each user has attributes stored in their own dictionary .

In [ ]:
{'user1':{'name':'alice','age':30},'user2':{'name':'bob','age':25}}

{'user1': {'name': 'alice', 'age': 30}, 'user2': {'name': 'bob', 'age': 25}}

 Q 17 Describe the time complexity of accessing elements in a dictionary.
 - The average-case time complexity of accessing element in dictionary is o(1) (constant time.). This is because dictionarise use hash tables, allowing for direct access to element based in their hash value. In the worst-case scenario 9due to hash collisions), the time complexity can degrade to O(n)
 (linear time )' but this is rare in practice with well-designed hash functions.

Q18 In what situations are lists preferred over dictionaries?

-  The order of elements is important.
- You need to access element by numerical index.
- You have a collection of items where the primary way to access them is by their position.

Q 19  Why are dictionaries considered unordered, and how does that affect data retrieval?

-  Historically, dictionaries in python versions prior to 3.7 were explicitly unordered,meaning the order of insertion was not preservesd. while python 3.7+ preserves insertion order, dictionaries  are still conceptually considered unordered in terms of their core design and how they are typically used for key-based lookups rather than sequential access. This doesn't significantly affect data retrieval by key , as retrieval is based on hashing the key , not its position .

Q 20 Explain the difference between a list and a dictionary in terms of data retrieval.

 -  Lists
  Data retrieval is primarily  done by numerical index (position).you access element using list_name[index].
- Dictionaries  
 Data retrieval is primarily done by key. you access value using
 dictionary_name[key].

# Practical Questions

Q 1 Write a code to create a string with your name and print it?

In [ ]:
my_name = "Janvi mane "# replace " your name" with your actul name
print(my_name)

Janvi mane

Q2  Write a code to find the length of the string "Hello World".

In [ ]:
s="Hello world"
length= len(s)
print(length)

11

Q 3 Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s="python programming"
sliced_s=s[:3]
print(sliced_s)

pyt

Q4  Write a code to convert the string "hello" to uppercase.

In [ ]:
s = "hello"
uppercase_s=s.upper()
print(uppercase_s)

HELLO

Q 5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s= "I like apple"
new_s=s.replace("apple","orange")
print(new_s)

I like orange

Q 6 Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

Q 7 Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q 8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list=['a','b','c','d']
second_element=my_list[1]
print(second_element)

b

Q 10  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

Q 12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple=('red','green','blue','yellow')
second_to_last=my_tuple[-2]
print(second_to_last)

blue

Q 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple=(10,20,5,15)
minimum_number=min(my_tuple)
print(minimum_number)

5

Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple=('dog','cat','ribbit')
index_of_cat=my_tuple.index('cat')
print(index_of_cat)

1

Q 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it .

In [ ]:
fruits_tuple=('apple','banana','orange')
is_kiwi_present='kiwi' in fruits_tuple
print(is_kiwi_present)

False

Q 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set={'a','b','c'}
print(my_set)

{'a', 'b', 'c'}

Q 17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

Q 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set={1,2,3,4,}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

 Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1={1,2,3}
set2={2,3,4}
interesection_set=set1.intersection(set2)
print(interesection_set)

{2, 3}

Q 21 . Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict={"name":"john","age":30,"city":"New york"}
print(my_dict)

{'name': 'john', 'age': 30, 'city': 'New york'}

Q 22 . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict={'name':'john','age':25}
my_dict['country']='USA'
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
from os import name
my_dict={'name':'Alice','age':30}
name_value=my_dict['name']
print(name_value)

Alice

Q 24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict={'name':'Bob','age':22,'city':'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q 25 . Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict={'name':'Alice','city':'paris'}
if 'city' in my_dict:
  print("The key 'city ' exists.")
else:
  print("The key 'city' does not exist.")

The key 'city ' exists.

Q 26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1,2,3]
my_tuple=(4,5,6)
my_dict={'key':'value'}
print(my_list)
print(my_list)
print(my_dict)

[1, 2, 3]
[1, 2, 3]
{'key': 'value'}

Q 27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [ ]:
import random

# Generate a list of unique random numbers
n = 5  # Number of random numbers
li = random.sample(range(1, 101), n)

print(li)

[97, 43, 48, 76, 14]

Q 28. Write a code to create a list with strings and print the element at the third index

In [ ]:
my_list=["apple","banana","cherry","data"]
thired_element=my_list[2]# index 2 is the  third element
print(thired_element)

cherry

Q 29  Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
combined_dict={**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q 30  Write a code to convert a list of strings into a set.

In [ ]:
my_list=["apple","banana","apple","orange"]
my_set=set(my_list)
print(my_set)

{'apple', 'banana', 'orange'}